*{
  box-sizing: border-box;
  margin: 0;
}

html,body{
  background-color: #ACBED8;
  font-family: "Inter", sans-serif;
}

header {
  background: #4b545f;
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  box-shadow: 0 2.98256px 7.4564px rgba(0,0,0,.438);
}

.site-logo{
  color: rgb(50, 248, 255);
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #d4d4d4;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}


.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #161616ec;
  border-radius: 2em;
  margin: 3em;
  margin-top: 120px;
  height: 50em;
  padding-bottom: 270px;
}

.home-hero-img{
  max-width: 20%;
  border-radius: 300px;
  margin-top: 5em;
}

.home-title{
  color: #E8EBF7;
  font-size: 40px;
  padding: 1em;
}


.social-media-icons{
  padding: 1.5em;
}

.social-media-icons a{
  text-decoration: none;
}

.instagram{
  display: flex;
  justify-items: center;
  align-items: center;
  background: #272727;
  margin-top: 1em;
  border-radius: 10px;
  width: auto;
}

.instagram:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.social-icon{
  max-width: 7%;
  padding: 1px;
  background: white;
  border-radius: 50px;
  margin-left: 1em;
}

.social-title{
  font-size: 1.5em;
  font-family: "inter";
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 5px 10px;
}

.home-text{
  text-align: center;
  padding: 1em 4em;
  color: white;
  font-size: 1.3em;
  line-height: 1.7em;
}